.button {
    -fx-background-color: #55a7bb;
}

#btnConsultar {
    -fx-background-color: #6ac3d9;
}

#btnConfirmar {
    -fx-background-color: #cdf0a3;
    -fx-text-fill: green;
    -fx-border-radius: 5;
}

#btnCancelar {
    -fx-background-color: #f5a5a5;
    -fx-text-fill: red;
    -fx-border-radius: 5;
}